[Unit]
Description=Run start.sh
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
RemainAfterExit=no
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/go/bin
EnvironmentFile=/home/pi/{DIR}/.env
ExecStart=/home/pi/{DIR}/start.sh

[Install]
WantedBy=default.target
